<h1 class="text-center mb-4">Connexion</h1>

<form
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
  class="p-4 shadow rounded bg-light"
  style="max-width: 450px; margin: auto"
>
  <div class="mb-3">
    <label for="username" class="form-label">Donner Username</label>
    <input type="text" formControlName="username" class="form-control" />
  </div>

  @if (requiredUser()) {
  <div class="alert alert-danger py-2">Champ Obligatoire</div>
  }

  <div class="mb-3">
    <label for="password" class="form-label">Donner Mot de Passe</label>
    <input type="password" formControlName="password" class="form-control" />
  </div>
  @if (requiredPassword()) {
  <div class="alert alert-danger py-2">Champ Obligatoire</div>
  }

  <button class="btn btn-primary w-100" [disabled]="loginForm.invalid">Connexion</button>
</form>
