<h1 class="mb-4 text-center">Ajout d'une recette</h1>

<div class="mb-3">
  <a routerLink="/admin/dashboard" class="btn btn-secondary">Retour</a>
</div>

<form [formGroup]="recetteForm" (ngSubmit)="OnSubmit()" class="p-4 shadow rounded bg-light">
  <div class="mb-3">
    <label for="nom" class="form-label">Nom de la recette</label>
    <input type="text" class="form-control" formControlName="nom" />
  </div>
  @if (recetteForm.get('nom')?.errors?.['minlength']) {
  <div class="alert alert-danger">Le nom doit avoir au moins 3 caractères</div>
  }

  <div class="mb-3">
    <label for="photo" class="form-label">URL de la photo</label>
    <input type="text" class="form-control" formControlName="photo" />
  </div>
  @if (recetteForm.get('photo')?.invalid && recetteForm.get('photo')?.touched) {
  <div class="alert alert-danger">Champ obligatoire</div>
  }

  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea class="form-control" formControlName="description" rows="3"></textarea>
  </div>
  @if (recetteForm.get('description')?.errors?.['minlength']) {
  <div class="alert alert-danger">La description doit avoir au moins 10 caractères</div>
  }
  <div class="mb-3">
    <label for="tempsPreparation" class="form-label">Temps de préparation (minutes)</label>
    <input type="number" class="form-control" formControlName="tempsPreparation" />
  </div>
  @if (recetteForm.get('tempsPreparation')?.errors?.['min']) {
  <div class="alert alert-danger">Le temps doit être d'au moins 1 minute</div>
  }
  <div class="mb-3">
    <label for="nbPortions" class="form-label">Nombre de portions</label>
    <input type="number" class="form-control" formControlName="nbPortions" />
  </div>
  @if (recetteForm.get('nbPortions')?.errors?.['min']) {
  <div class="alert alert-danger">Le nombre de portions doit être d'au moins 1</div>
  }
  <div class="mb-3">
    <label for="difficulte" class="form-label">Difficulté *</label>
    <select class="form-select" formControlName="difficulte">
      <option value="Facile">Facile</option>
      <option value="Moyenne">Moyenne</option>
      <option value="Difficile">Difficile</option>
    </select>
  </div>

  <div class="form-check mb-3">
    <input
      type="checkbox"
      class="form-check-input"
      formControlName="estTraditionnelle"
      id="trad-check"
    />
    <label for="trad-check" class="form-check-label"> Recette traditionnelle tunisienne </label>
  </div>

  <div formArrayName="ingredients" class="mb-4">
    <label class="form-label fw-bold">Ingrédients</label>

    @for (ingredient of ingredients.controls; track $index; let i = $index) {
    <div class="input-group mb-2">
      <span class="input-group-text">#{{ i + 1 }}</span>
      <input type="text" class="form-control" [formControlName]="i" />
    </div>
    }

    <button type="button" class="btn btn-outline-primary" (click)="addIngredient()">
      Ajouter un ingrédient
    </button>
  </div>

  <button type="submit" class="btn btn-success w-100" [disabled]="recetteForm.invalid">
    Créer la recette
  </button>
</form>
